@import url('https://fonts.googleapis.com/css2?family=Actor &family=Adamina&family=Poppins&display=swap');

body{
font-family: 'Adamina', serif;
     /* font-family: 'Actor', sans-serif;
    font-family: 'Adamina', serif;
    font-family: 'Poppins', sans-serif; */
}

nav{
    
    float: right;
    margin-right: 80px;
    margin-top: 20px;
    font-weight: 500;
    color:white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 100px;

   
    
    
}
nav li a{
    color:white;
}
.image{
    background-image: url("../Images/moving 1.png");
    background-size: cover;
    height: 100vh;
  

 
}
.texts{
    width: 60%;
    text-align: left;
    
}
.texts h1{
    font-size: 55px;
    margin-top: 100px;
}

.image p{

    font-family: 'Poppins', sans-serif; 
    color: gray;

}
#clr{
    
    color: #FAFF00;
    text-align: center;
   
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 7px;
}

li {

    float: right;
}
li a{
    display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.images{
display: block;
column-count: 3;
column-gap: 20px;
flex-wrap: wrap;

}

.images img{
    display: inline-block;
    margin: 20px;
    width: 50%;
    height: 50%;
    margin-right: 12px;
}
.gridcontainer{
    display: grid;
    background-color: white;
    width: 70%;
    align-items:center ;
    height: 70%;
    margin-top: 12px;
    border-radius: 6px;
    margin-left: 30px;
    box-shadow: 5px 0px 5px grey ;
    border-radius: 10px;
    border: 1px;

}
.griditem{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 10px;
    text-align: center;  
}
.arrangement{
    grid-template-columns: auto auto auto;
    display: grid;
}


.second{
    background-color: rgba(218, 212, 212, 0.966);
    margin-top: 100px;
    height: 700px;
}
.color{
    width: 20px;
    height: 2px;
    color: rgb(68, 68, 34);
}

button{
    display: inline-block;
    border: none;
    background-color: black;
    margin-right: 13px;
    padding: 10px 20px;
    text-align: center;
    border-top-right-radius: 10px;
    color: #FAFF00;
    margin-top: 0;
    margin-left: 12px;

}

.first{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 90%;
    height: 90vh;
    padding: 20px;
}
.first img{
    float: left;
    margin-right: 20px;
    width: 50vw;
    height:90%;
}
.first h2{
    margin-top: 50px;
    font-size:45px;
} 
.first p{
    text-align: left;
    font-size:30px;

}

span{
    color: #FAFF00;

}
.third{
    margin-top: 0;
    background-color: black;
}
.icons{
    color: white;
}
.third h3{
    color: white;
    margin-left: 50px;
    margin-top: 70px;

}
.third h4{
    color: white;
    margin-top: 100px;
}
.third hr{
    background-color: grey;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}



.third2 p{
    color: white;

}
.third2 {
    display: inline-block;
    column-count: 3;
    column-gap: 15px;
    margin-top: 10px;
    


}
