@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
     font-family: Poppins,Actor,Adamina;
}
nav{
    display: inline-flex;
    float: right;
    margin-right: 80px;
    margin-top: 60px;
    font-weight: 500;
}
.image{

    background-image: url('Assets/images/moving 1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main {
    margin: 0px;
    margin-left: 60px;
    margin-right: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 7px;
}

li {

    float: right;
}
li a{
    display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.images{
display: block;
margin: 0 auto;
column-count: 3;
column-gap: 12px;


}

.images img{
    display: inline-block;
    top: 0px;
    margin: 0px;
    width: 240px;
    height: 140px;
    margin-right: 12px;
}


.second{
    background-color: rgba(218, 212, 212, 0.966);
    margin-top: 100px;
}

button{
    display: inline-block;
    border: none;
    background-color: black;
    margin-right: 13px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 6px;
    color: #FFAC12;
    margin-top: 0;
    margin-left: 12px;

}
.first img{
    float: left;
    margin-right: 20px;
    width: 400px;
}
.first h2{
    margin-top: 50px;
}

span{
    color: #FFAC12;

}
.third{
    margin-top: 0;
    background-color: black;
}
.third h3{
    color: white;
    margin-left: 50px;
    margin-top: 70px;

}
.third h4{
    color: white;
    margin-top: 100px;
}
.third hr{
    background-color: grey;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}



.third2 p{
    color: white;

}
.third2{
    column-count: 3;
    column-gap: 15px;

}
#clr{
    color: #FAFF00;
}
.features {
    column-count: 3;
    column-gap: 12px;
}