header{
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    justify-content: right;
    padding-right: 40px;
}
nav li{
    display:inline;
   
}
nav ul {
    list-style:none;
    display: flex;
    flex-direction: row;
}
header li a{
    margin: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}
header a{
    color: white;
}
header button{
    background-color: #FAFF00;
    text-align: center;
    border-top-right-radius: 10px;
    color: black;
    margin-left: 20px;
}
.Address{
    display: flex;
    flex-direction: row;
    border-top: 2px gray solid;
    justify-content: space-between;
}
.main2{
    background-color: rgb(235, 230, 230);
}
.galary{
    background-color: #FFAC12;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fifth{
    width: 50%;
    margin-left: 70px;
    background-color: white;
}
.frm{
    display: block;
    padding: 5px;
}
.fifth img{
    width: 80%;
}
.grid img{
    width: 10%;
}

form{
    width: 20%;
   
}
    


#btn{
    background-color: #FFAC12;
    color: black;
}
nav{
    display: inline-flex;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: 500;

}
 hr{
    background-color: white;
}

.nineth{
    column-count: 4;
    column-gap: 5px;
    width: 100%;
    height: 100%;


}

.gridcont{
    display: grid;
    background-color: white;
    width: 140px;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 5px 0px 5px grey ;
    margin-left: 70px;
}
.griditm{
    background-color: white;
    border: 0.5px solid rgba(131, 128, 128, 0.336);
    padding: 10px;
    font-size: 10px;
    text-align: center;  
}
.arrange{
    grid-template-columns: auto auto auto auto auto;
    display: grid;
}
.columns{
    column-count: 3;
    column-gap: 15px;
}
.arrangements{
    grid-template-columns: auto auto auto;
    display: grid;
}
.seventh{
    width: 60%;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 5px 0px 5px grey ;
    margin-top: 25px;
    margin-left: 70px;
    background-color: white;
}

.eighth{
    width: 60%;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 5px 0px 5px grey ;
    margin-top: 25px;
    margin-left: 70px;
    margin-bottom: 50px;
    background-color: white;
}
.columns i{
    margin: 10px;
}


.tenth{
    background-color: black;
    color: white;
    width: 100%;
}
#tens{
    margin-right: 50px;
}
.tenth button{
    background-color: #FFAC12;
    color: black;
}
.ten{
    column-count: 3;
    column-gap: 15px;
}
.tenth hr{
    background-color: grey;
    margin-top: 70px;
}
